@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.controls button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
}

.controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.sliders {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.sliders div {
  margin: 0 10px;
}

.sliders label {
  display: block;
  margin-bottom: 5px;
}

.sliders input[type="range"] {
  width: 100px;
}
